<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Ajay Submissions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
 <div class="container">
    <h1>No of Rate Confirmations by each Recruiter</h1>
 
  <!-- Content here -->

    <table class="table table-striped table-bordered">
      <tr>
        <th scope="col">Recruiter</th>
        <th scope="col">No .Of Rate Confirmations</th>
      </tr>
      <tr th:each="posit : ${posits}">
      <td th:text="${posit.key}">NA</td>
        <td th:text="${posit.value}"></td>
      </tr>
    </table>
  
    <p>
      <a class="btn btn-primary" href="/home.html" th:href="@{/}">Return to home</a>
       <a class="btn btn-primary" href="/rcs.html" th:href="@{/showall}">Show all Rate Conformation</a>
      <a class="btn btn-primary" href="/insert.html" th:href="@{/insert}">Add New Submission</a>
    </p>
</div>
  </body>

</html>      </table>