<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" 
          href="../../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>

 <h1></h1>
     <div class="container">
    <h1>New Submission</h1>

<form action="#" th:action="@{/save}" th:object="${posit}" method="post">
<input type="text" class="form-control" id="id" th:field="*{id}"  placeholder="Enter Vendor name">
<select th:field="*{recruiter}">
 <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <option 
      class="dropdown-item"
      th:value="Sagar"
      th:text="Sagar" ></option>
  </div>
   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <option 
      class="dropdown-item"
       th:value="madhu"
      th:text="madhu" ></option>
  </div>
   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <option 
      class="dropdown-item"
     th:value="jagadeesh"
      th:text="jagadeesh" ></option>
  </div>
   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <option 
      class="dropdown-item"
     th:value="pavan"
      th:text="pavan" ></option>
  </div>
   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <option 
      class="dropdown-item"
     th:value="Deepika"
      th:text="Deepika" ></option>
  </div>
   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <option 
      class="dropdown-item"
     th:value="Dustin"
      th:text="Dustin" ></option>
  </div>
   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <option 
      class="dropdown-item"
     th:value="Harsha"
      th:text="Harsha" ></option>
  </div>
</div>
      
</select>

<div class="form-group">
    <label for="vendor">Vendor</label>
    <input type="text" class="form-control" id="vendor" th:field="*{vendor}"  placeholder="Enter Vendor name">
  </div>
  
<div class="form-group">
    <label for="comp">Vendor Company</label>
    <input type="text" class="form-control" id="comp" th:field="*{vendorCompany}"  placeholder="Enter Vendor Company name">
  </div>
  
  <div class="form-group">
    <label for="client">Client</label>
    <input type="text" class="form-control" id="client"  th:field="*{client}"  placeholder="Enter Client Name">
  </div>
   <div class="form-group">
    <label for="comp">Vendor Contacts</label>
    <input type="text" class="form-control" id="contact" th:field="*{contact}"  placeholder="Enter Vendor Company name">
  </div>
   
    <div class="form-group">
    <label for="Location">Client</label>
    <input type="text" class="form-control" id="Location" th:field="*{location}"  placeholder="Enter Location">
  </div>
<button type="submit" class="btn btn-primary"  th:value="Update">Submit</button>

</form>


  <p>
      <a class="btn btn-primary" href="/home.html" th:href="@{/}">Return to home</a>
      <a class="btn btn-primary" href="/rcs.html" th:href="@{/showall}">Show all Rate Conformation</a>
    </p>
    
    </div>
  </body>

</html>